{
  "rules": {
    "flowtype/boolean-style": [1, "boolean"],
    "flowtype/define-flow-type": 1,
    "flowtype/delimiter-dangle": [1, "never"],
    "flowtype/generic-spacing": [1, "never"],
    "flowtype/no-primitive-constructor-types": 1,
    "flowtype/no-weak-types": 1,
    "flowtype/object-type-delimiter": [1, "comma"],
    "flowtype/require-parameter-type": 0,
    "flowtype/require-return-type": 0,
    "flowtype/require-valid-file-annotation": 0,
    "flowtype/semi": [1, "always"],
    "flowtype/space-after-type-colon": [1, "always"],
    "flowtype/space-before-generic-bracket": [1, "never"],
    "flowtype/space-before-type-colon": [1, "never"],
    "flowtype/union-intersection-spacing": [1, "always"],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1,
    "flowtype-errors/show-errors": "warn"
  }
}
